@tailwind base;
@tailwind components;
@tailwind utilities;


.twoLine{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.oneLine{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

